.productos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 8px;
}

.producto-card {
  margin: 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.producto-imagen {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

ion-card-header {
  padding: 12px;
  
  ion-card-title {
    font-size: 1rem;
    font-weight: 600;
  }
  
  ion-card-subtitle {
    font-size: 0.9rem;
    color: #d9c7f3;
    font-weight: 700;
  }
}

.color-vltstr {
      background-color: #d9c7f3 !important;
    --background: #d9c7f3  !important;     
      color: white;  
    }