.centrado {
    text-align: center;
}

.link-crear-cuenta {
  text-align: center;
  margin-top: 16px;
}

a {
    color: #aa82f9; 
    font-size: 0.9rem;
    text-decoration: underline;
    cursor: pointer;
  }


  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .logo {
    width: 150px; /* Tamaño de la imagen */
    height: auto;
    animation: zoomIn 3s ease-in-out infinite alternate;
  }

  /* Animación de zoom suave */
    @keyframes zoomIn {
      0% {
        transform: scale(1); /* Tamaño original */
      }
      100% {
        transform: scale(0.5); /* Zoom leve */
      }
    }