#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #a748e3;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.centrado {
  text-align: center;
}

.titulo-centrado {
  text-align: center;
  font-weight: bold;
}

.bienvenido {
  font-size: 24px;
  margin-top: 20px;
}

.usuario {
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.subtitulo {
  font-size: 20px;
  margin-bottom: 20px;
}

.botones {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
  
}

.footer {
  margin-top: 40px;
  text-align: center;
  background-color: #6946dc;
  font-size: 14px;
}

.animar-campo {
  transition: transform 0.4s ease;
}

.activar-animacion {
  transform: translateX(10px);
}

.fecha-nac {
  width: 100%;
  background-color: white !important;
  color: #d6c0f8;
}

@keyframes moverIzqDer {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
    background-color: #f0e6ff;
  }
  100% {
    transform: translateX(0);
  }
}

.activar-animacion {
  animation: moverIzqDer 1s ease-in-out;
}

ion-input {
  caret-color: #d6c0f8; 
  color: #d6c0f8;
}

input {
  caret-color: #d6c0f8;
}

.nivel-educacion {
  right: 16px; 
  position: absolute;
}

.nivel-educacion::part(icon) {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #6946dc; 
  pointer-events: none;
}

.color-vltstr {
      background-color: #d9c7f3 !important;
    --background: #d9c7f3  !important;     
      color: white;  
    }
    

   
  /* Contenedor de la lista de productos */
.product-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));  // Tarjetas más angostas
  gap: 16px;  // Menor espacio entre tarjetas
  padding: 12px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilo para cards */
.product-card {
  margin: 10;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.product-image {
  width: 100%;
  height: 90px;  
  object-fit: cover;
}

/* Encabezado de la tarjeta */
ion-card-header {
  padding: 10px;
}

/* Título del producto */
ion-card-title {
  font-size: 0.9rem;  
  font-weight: 500;
  margin-bottom: 2px;
}

/* Precio */
ion-card-subtitle {
  color: #d9c7f3 ;
  font-size: 1rem;  
  font-weight: 600;
}


@media (max-width: 600px) {
  .product-list-container {
    grid-template-columns: repeat(1, 1fr);  
    gap: 4px;
    padding: 8px;
  }
  
  .product-image {
    height: 350px;  
  }
  
  ion-card-title {
    font-size: 0.9rem;
  }
  
  ion-card-subtitle {
    font-size: 0.9rem;
  }
}