.boton {
  --background: #d9c7f3;
  --color: white;
  width: 100%;
}

.color-vltstr {
      background-color: #d9c7f3 !important;
    --background: #d9c7f3  !important;     
      color: white;  
    }